* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}

:root {}

.main {
    position: relative;
}

.active {
    background-color: #F26F21;
    color: #fff;
}

body {
    background-color: black;
    color: #fff;
}

.anidelay {
    transition: all linear .2s;

}

/* btn-login */
.btn-login {}

/* nav - mobile */
.nav__mobile {
    transform: translateX(-110%);
    transition: all linear .3s;
    box-shadow: 0 1px 2px #333;
    position: absolute;
    width: 68%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
}

/*  img__exam */

.img__exam:hover {
    transform: scale(112%, 112%);
    transition: all linear .3s;
    opacity: .8;
    cursor: pointer;
}


.career {
    position: relative;
}

.career::after {
    position: absolute;
    content: "";
    top: calc(100% + 4px);
    left: 0;
    width: 68%;
    height: 3px;
    background-color: orangered;
}





/* ani */

.ani {
    animation: showIn ease-in .8s;
}

@keyframes showIn {
    from {
        opacity: .6;
    }

    to {
        opacity: 1;
    }
}